Source: libemb-gpio-perl
Section: misc
Priority: optional
Maintainer: Joonas Kylmälä <joonas.kylmala@jns.fi>
Standards-Version: 3.9.5
Build-Depends: debhelper (>=9),
 perl,
 libmodern-perl-perl,

Package: libemb-gpio-perl
Architecture: armhf
Multi-Arch: foreign
Depends: perl,
 libmodern-perl-perl,
 libhipi-perl
Standards-Version: 3.9.5
Description: Easy usage of Raspberry Pi GPIOs
 This module allows easy way to do control
 Raspberry Pi GPIO pins.